---
import Layout from '../components/layout.astro'
import { AstroSeo } from '@astrolib/seo'
---

<AstroSeo
  title="Benjamin Wagner :: Frontend Developer"
  description="Young Frontend Developer living in Linz, Austria."
  openGraph={{
    url: 'https://f.bnmwag.dev/',
    title: 'Benjamin Wagner :: Frontend Developer',
    description: 'Young Frontend Developer living in Linz, Austria.',
    images: [
      {
        url: 'https://f.bnmwag.dev/og.jpg',
        width: 800,
        height: 600,
        alt: 'Benjamin Wagner :: Frontend Developer',
        type: 'image/jpeg',
      },
    ],
    site_name: 'Benjamin Wagner :: Frontend Developer',
  }}
/>

<Layout>
	<main class="grid grid-cols-1 md:grid-cols-6 xl:grid-cols-12 pt-[50svh] pb-[15svh] gap-x-5 px-5 z-10 relative">
		<div class="xl:col-start-2 md:col-span-2 max-md:absolute max-md:top-5 max-md:left-5 max-md:w-full max-md:h-full">	
			<h1>Benjamin Wagner</h1>
		</div>
		<div class="md:col-start-3 xl:col-start-4 md:col-span-3 space-y-36">
			<div class="space-y-12 max-md:max-w-md">
				<h2>Frontend developer</h2>
				<p class="text-foreground-muted">
					Hi! I&apos;m Benjamin Wagner, a frontend developer based in Linz, Austria. 
					I am passionate about building intuitive and user-centric digital experiences.
					<br />
					<br />
					With expertise in PayloadCMS and Stripe, 
					I'd love to help bring your online vision to life. Let's connect!
				</p>
			</div>
			<div class="space-y-12 max-md:max-w-md">
				<h2>Projects</h2>
				<p class="text-foreground-muted">
					For confidentiality and client discretion, I don't disclose specific 
					project details publicly. However, I'm always happy to share more 
					information with you directly - just get in touch whenever you're ready!
				</p>
			</div>
			<div class="space-y-12 max-md:max-w-md">
				<h2>Contact</h2>
				<p class="text-foreground-muted">	
					<a href="mailto:bnm.wag@gmail.com">bnm.wag@gmail.com</a>
					<br />
					<a href="https://github.com/bnmwag">github.com/bnmwag</a>
				</p>
			</div>
		</div>
	</main>
	<div class="fixed max-xl:hidden inset-0 mix-blend-darken dark:mix-blend-lighten invert dark:invert-0"> 
		<canvas id="canvas" class="w-full"></canvas>
	</div>
</Layout>