---
import '../styles/globals.css'
import { ClientRouter } from 'astro:transitions'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<script defer is:inline data-domain="bnm.st" src="https://plausible.bnm.st/js/script.js"></script>
		<ClientRouter />
	</head>
    <body class="bg-background text-foreground transition-colors ease-in-out duration-1000">
		<slot />
		<footer class="grid grid-cols-1 md:grid-cols-6 xl:grid-cols-12 gap-x-5 px-5 z-10 relative pb-12 max-md:dark:border-t-neutral-800 max-md:border-t-neutral-200 max-md:border-t">
			<div class="xl:col-start-2 md:col-span-2 max-md:mb-12 max-md:mt-12">	
				<a href="/" class="hover:underline">Benjamin Wagner</a>
			</div>
			<div class="md:col-start-3 xl:col-start-4 md:col-span-3 space-y-36">
				<nav>
					<ul class="space-y-4">
						<li><a href="/resume" class="text-foreground-muted hover:underline hover:text-white transition-colors duration-300">Resume</a></li>
						<li><a href="/imprint" class="text-foreground-muted hover:underline hover:text-white transition-colors duration-300">Imprint</a></li>
						<li><a href="/privacy" class="text-foreground-muted hover:underline hover:text-white transition-colors duration-300">Privacy</a></li>
					</ul>
				</nav>
			</div>
		</footer>
    </body>
</html>